* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #efefef;
}
:root {
    --font-heading: "Public sans", sans-serif;
    --primary-heading: #143c3c;
    --primary-heading-light: #e2eddf;
}

/* Common */

.container {
    width: 1140px;
    max-width: calc(100% - 40x);
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}
input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 173px;
    height: 57px;
    text-align: center;
    color: #ffffff;
    background-color: var(--primary-heading);
    border-radius: 40px;
    transition: 0.25s;
}
.btn:hover {
    border: 1.5px solid var(--primary-heading);
    background-color: #ffffff;
    color: var(--primary-heading);
    font-weight: 600;
    cursor: pointer;
}
.section__title {
    position: relative;
    max-width: 520px;
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: #152427;
}
.section__title--line::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    left: 351px;
    top: 83px;
    background: #152427;
}
.info__heading {
    display: flex;
    align-items: center;
}
.info__heading--line {
    margin-right: 21px;
    width: 25px;
    height: 1px;
    background: #152427;
}
.info__heading--title {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #152427;
}

/* Header */

.header {
    margin-top: 28px;
    margin-bottom: 42px;
}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 13px;
}
.nav__list {
    display: flex;
    margin-left: 406px;
    margin-right: 88px;
    column-gap: 38px;
}
.nav__item {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
    transition: 0.25s;
    font-family: var(--font-heading);
}
.nav__item:hover {
    font-weight: 600;
    color: #152427;
}
.header__line {
    position: relative;
    width: 1140px;
    height: 1px;
    background: linear-gradient(
        90deg,
        #ffffff 0%,
        #dddcdc 51.09%,
        rgba(213, 213, 213, 0) 99.68%
    );
}
.header__line::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 2px;
    left: 557px;
    background-color: var(--primary-heading);
}

.hero {
    padding-top: 60px;
    padding-bottom: 77px;
    margin-bottom: 24px;
}
.hero__row {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.hero__content {
    width: 34.5%;
    margin-right: 76px;
}
.hero__heading {
    max-width: 368px;
    margin-top: 43px;
    margin-bottom: 20px;
    font-family: var(--font-heading);
    font-weight: 800;
    font-size: 5rem;
    line-height: 1.2;
    color: #152427;
}
.hero__desc {
    max-width: 341px;
    margin-bottom: 42px;
    font-family: var(--font-heading);
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
}
.hero__action {
    display: flex;
    align-items: center;
}
.hero__btn {
    margin-right: 36px;
}
.hero__icon {
    position: relative;
    display: flex;
    align-items: center;
}
.hero__play {
    position: absolute;
    left: 9px;
    transition: 0.25s;
}
.hero__watch {
    position: absolute;
    min-width: 188px;
    left: 35px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    color: #152427;
}
.hero__icon:hover .hero__play {
    transform: scale(1.1);
}
.hero__media {
    display: flex;
    column-gap: 20px;
    margin-right: 25px;
}
.hero__img {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
    z-index: 1;
}
.hero__img--bottom {
    display: flex;
    margin-top: 77px;
}
.hero__body {
    position: relative;
}
.hero__flower-1 {
    position: absolute;
    left: 266.36px;
    top: -24.4px;
    z-index: 3;
}
.hero__flower-2 {
    position: absolute;
    right: 30px;
    bottom: -36.45px;
    z-index: 3;
}
.hero__line-1 {
    position: absolute;
    left: 301.36px;
    top: -38.4px;
    z-index: 2;
}
.hero__line-2 {
    position: absolute;
    right: 65px;
    bottom: -70.45px;
    z-index: 2;
}
.hero__filter {
    position: absolute;
    width: 340px;
    height: 340px;
    top: 120px;
    right: 180px;
    background: #4dbb9a;
    filter: blur(137px);
}
/* Label */
.label {
    padding-top: 15px;
    padding-bottom: 26px;
    margin-bottom: 30px;
}
.label__body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 76px;
    padding-bottom: 77px;
    background: var(--primary-heading-light);
    border-radius: 100.5px;
}
.label__logo {
    width: 897px;
    height: 48px;
    object-fit: cover;
}

/* Service */

.service {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 60px;
}
.service__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 76px;
}
.service__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 17px;
    margin-right: 73px;
}
.service__arrow--vecto {
    width: 54px;
    height: 54px;
    padding: 22px 17px;
    border-radius: 50%;
    color: #152427;
    background-color: var(--primary-heading-light);
    transition: 0.25s;
}
.service__arrow--vecto:hover {
    color: #ffffff;
    background-color: var(--primary-heading);
}
.service__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}
.service__item {
    border-radius: 20px;
}
.service__img {
    width: 370px;
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.service__info {
    padding-top: 24px;
    padding-bottom: 23px;
    transition: 0.25s;
}
.service__subtitle {
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #152427;
}
.service__desc {
    max-width: 268px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
}
.service__item:hover {
    background: #ffffff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}
.service__item:hover .service__info {
    transform: translateX(18px);
}
/* About */
.about {
    padding-top: 40px;
    padding-bottom: 40px;
}
.about__body {
    display: flex;
}
.about__media {
    display: flex;
    column-gap: 21px;
    position: relative;
}
.about__img {
    width: 284px;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
}
.about__info {
    position: absolute;
    padding: 19px 17px 12px;
    left: 440px;
    top: 405px;
    box-shadow: 0px 7px 54px rgba(154, 154, 154, 0.25);
    border-radius: 8px;
    background-color: #ffffff;
    font-family: var(--font-heading);
}
.about__info:hover {
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}
.about__subtitle {
    margin-bottom: 6px;
    margin-left: 6px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #152427;
}
.about__info--desc {
    margin-bottom: 10px;
    margin-left: 6px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
    color: #575d5e;
    opacity: 0.4;
}
.about__number {
    margin-left: 6px;
    margin-bottom: 3px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: #152427;
}
.about__cross {
    position: relative;
    margin-left: 6px;
    width: 96px;
    height: 2px;
    background: #eaeaea;
    border-radius: 10px;
}
.about__cross::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 40px;
    height: 2px;
    left: 0px;
    top: 0px;
    background: #83a17d;
    border-radius: 10px;
}
.about__loading {
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: right;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: #152427;
}
.about__dot {
    margin-left: 2px;
    margin-bottom: 4px;
}
.about__allteams {
    display: flex;
    justify-content: space-between;
}
.about__teams {
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: #152427;
}
.about__allavatar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    transform: translateX(24px);
}
.about__avatar {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ffffff;
}
.about__avatar:nth-child(2) {
    transform: translateX(-6px);
}
.about__avatar:nth-child(3) {
    transform: translateX(-12px);
}
.about__avatar:nth-child(4) {
    transform: translateX(-18px);
}
